body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bg-main {
  background-color: rgb(33, 33, 48);
  color: whitesmoke;
}
.full-parent {
  width: 100%;
  height: 100%;
}
.full-screen {
  width: 100%;
  min-height: 100vh;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
